.jumbotron{
 background-color: #eee;
 background-image: url("fLag.jpg");
 background-size: 100%;
}
html,
body{
min-height: 100%;
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 41%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(41%, rgba(247,247,247,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 41%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 41%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 41%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 41%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

#title{
  color: #777;
}
#title{
  font-family: 'Alegreya', serif;
  font-size: 2.5em;
  letter-spacing: .1em;
  color: #666;
}
#title2{
  font-family: 'Alegreya', serif;
  font-size: 1.9em;
  letter-spacing: .08em;
  color: #555;
}
#intro{
  padding-left: 3em;
  padding-right: 3em;
  font-family: 'Karla', sans-serif;
  letter-spacing: .12em;
  line-height: 1.65em;
  font-size: 1.11em;
  color: #555;
}
#credit{
  padding-left: 3em;
  padding-right: 3em;
  font-family: 'Karla', sans-serif;
  letter-spacing: .12em;
  line-height: 1.65em;
  font-size: .9em;
  color: #888;
}
.credit-link{
  padding-left: 3em;
  padding-right: 3em;
  font-family: 'Karla', sans-serif;
  letter-spacing: .12em;
  line-height: 1.65em;
  font-size: .9em;
  color: #888;
  text-decoration: none;
}
.credit-link:hover{
  text-decoration: none;
  color: #9eaabc;
}
.credit-link:visited{
  text-decoration: none;
  color: #9eaabc;
}

hr{
  width: 60%;
}

#content-area{
  padding-top:2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3em;
  margin-top: 2em;
  -webkit-box-shadow: 4px 3px 6px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 6px 1px rgba(0,0,0,0.75);
box-shadow: 4px 3px 6px 1px rgba(0,0,0,0.75);
min-height: 70vh;
}

.link{
  padding-left: 3em;
  padding-right: 3em;
  font-family: 'Karla', sans-serif;
  letter-spacing: .12em;
  line-height: 1.65em;
  font-size: 1.11em;
  color: #555;
  text-decoration: none;
}
.link:hover{
  color: #9eaabc;
  text-decoration: none;
}
.link:visited{
  color: #9eaabc;
  text-decoration: none;
}
